DOCUMENT_INTELLIGENCE_API_KEY = ""
DOCUMENT_INTELLIGENCE_ENDPOINT = ""

COHERE_API_KEY = ""

CHROMA_TOKEN = ""
CHROMA_TENANT = ""
CHROMA_DATABASE = ""

GOOGLE_API_KEY = ""

LANGSMITH_TRACING ="true"
LANGSMITH_ENDPOINT = "https://api.smith.langchain.com"
LANGSMITH_API_KEY ="your_api_key"
LANGSMITH_PROJECT ="your_project_name"

# Applicable once deployment is completed
FASTAPI_ENDPOINT_API_KEY = ""